<!-- descripcion -->
	<section>
        <h2>Descripción</h2>
        <p><span class="image right"></span>Este texto es para mostrar que estamos incorporando un texto de prueba y de imagenes</p>
    </section>
